<div class="home-pop text-center container-fluid">
  <h1>Home Page Coming Soon</h1>
  <h3>With text and information and stuff</h3>
</div>

<div class="container home-signup-links">
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Basic Membership</h2>
        <h4 class= "text-center">Sign up for free and get basic access.</h4>
        <br/>
        <%= link_to "Sign up for basic plan", new_user_registration_path(plan: @basic_plan) , class: 'btn btn-primary btn-large btn-block' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Pro Membership</h2>
        <h4>Sign up to a pro account for 10€/month for more features.</h4>
        <br/>
        <%= link_to "Sign up for Pro plan", new_user_registration_path(plan: @pro_plan) , class: 'btn btn-success btn-large btn-block' %>
      </div>
    </div>
  </div>
</div>